@import "../vars";
@import "./widget";


.lastvalue {
  @good-color: #188f23;
  @bad-color: #c41933;

  font-family: @title-font;

  .title {
    .widget .title();
  }

  .values {
    padding: 2px 30px;

    &.neutral {
      .status(@fg-color); 
    }

    &.good {
      .status(@good-color);
    }

    &.bad {
      .status(@bad-color);
    }

    .last {
      text-align: right;
      font-size: 3.75em;
    }

    .summary {
      padding: 0;
      padding-bottom: 10px;
      text-align: right;
    }

    .sparkline {
      .path {
        fill: none;
        stroke: @fg-color;
        stroke-width: 4px;
      }

      .diff.path {
        stroke-width: 4.5px;
      }
    }

    .status(@color) {
      .sparkline {
        .diff.path {
          stroke: @color;
        }

        .dot {
          fill: @color;
        }
      }

      .summary {
        .diff {
          color: @color;
        }
      }
    }
  }
}
