@import "./widget";


.lines.widget {
  > .title {
    .widget .title();
  }

  .chart {
    padding: 8px;
    height: 160px;

    .metrics {
      .metric {
        .line {
          fill: none;
          stroke-width: 2px;
        }
      }
    }
  }

  .axis {
    .widget .axis();

    line {
      stroke-width: 1px;
      stroke: fade(@fg-color, 7%);
    }
    
    path {
      stroke: none;
    }
  }

  .legend {
    .table {
      .widget .table();

      .metric {
        .swatch {
          padding: 0;
          width: 12px;
        }

        .title {
          width: 70%;
        }

        .value {
          text-align: right;
        }
      }
    }
  }
}
