@import "./widget";


.lines.widget {
  .title {
    .widget .title();
  }

  .chart {
    padding: 8px;

    .lines {
      .set {
        .line {
          fill: none;
          stroke-width: 2px;
        }
      }
    }

    .axis {
      line, path {
        fill: none;
        shape-rendering: crispEdges;
        stroke: @fg-color;
        stroke-width: 1px;
      }

      .tick {
        text {
          fill: @fg-color;
          stroke: none;
          font-size: 11px;
          font-family: sans-serif;
        }
      }
    }
  }
}
