@import "./widget";


.lines.widget {
  > .title {
    .widget .title();
  }

  .chart {
    padding: 8px;

    .lines {
      .metric {
        .line {
          fill: none;
          stroke-width: 2px;
        }
      }
    }

  }

  .axis {
    .widget .axis();

    line {
      stroke-width: 1px;
      stroke: fade(@fg-color, 7%);
    }
    
    path {
      stroke: none;
    }
  }

  .legend {
    font-size: 15px;
    padding: 2px 34px;
    
    .table {
      border-collapse: collapse;
      width: 100%;

      .metric {
        td {
          background: fade(@fg-color, 7%);
        }

        &:nth-child(2n) {
          td {
            background: fade(@fg-color, 2.5%);
          }

          .value {
            background: fade(@fg-color, 7%);
          }
        }

        td {
          padding: 4px 12px;
        }

        .swatch {
          padding: 0;
          width: 12px;
        }

        .title {
          width: 70%;
        }

        .value {
          text-align: right;
          background: fade(@fg-color, 2.5%);
        }
      }
    }
  }
}
