@import "./widget";


.pie.widget {
  > .title {
    .widget .title();
  }

  .chart {
    .slice {
      path {
        stroke: fade(@bg-color, 50%);
        stroke-width: 4px;
      }
    }
  }

  .legend {
    .table {
      .widget .table();

      .metric {
        .swatch {
          padding: 0;
          width: 12px;
        }

        .title {
          width: 55%;
        }

        .percent {
          width: 15%;
          text-align: right;
        }

        .value {
          text-align: right;
        }
      }
    }
  }
}
