@import "../vars";


.widget {
  margin: 10px 0;

  > .title {
    padding: 6px 0;

    background: @fg-color;
    color: @bg-color;

    text-align: center;
  }

  .axis {
    @color: lighten(@fg-color, 16%);

    line, path {
      fill: none;
      shape-rendering: crispEdges;
      stroke: @color;
    }

    .tick {
      text {
        fill: @color;
        stroke: none;
        font-size: 12px;
      }
    }
  }

  .table {
    border-collapse: collapse;
    width: 100%;

    tr {
      td {
        background: fade(@fg-color, 7%);
      }

      &:nth-child(2n) {
        td {
          background: fade(@fg-color, 2.5%);

          &:nth-child(2n + 1) {
            background: fade(@fg-color, 7%);
          }
        }
      }

      td {
        padding: 4px 12px;

        &:nth-child(2n + 1) {
          background: fade(@fg-color, 2.5%);
        }
      }
    }
  }
}
