.sph-chart-pie {
  height: 220px;
}


.sph-chart-pie-slice {
  path {
    stroke: none;
  }
}


.sph-table-pie-title {
  width: 50%;
}


.sph-table-pie-percent {
  width: 8%;
  text-align: right;
}


.sph-table-pie-value {
  text-align: right;
}
